* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Headers & Nav */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 10px;
}

header {
  background-color: #353b47;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; I dont think this is doing anythng so have removed  */
  padding: 5px 0;
}

header h1 {
  background-color: powderblue;
  color: #353b47;
  display: flex;
  font-size: 30px;
  justify-content: flex-end;
  padding-right: 1%;
  width: 250px;
}

li {
  list-style: none;
}

nav ul {
  display: flex;
  min-width: 300px;
  justify-content: space-evenly;
  position: absolute;
  right: 0;
}

nav a {
  cursor: pointer;
  color: powderblue;
}

/* Hero */
.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  background-size: cover;
  height: 100px;
}

.hero-banner div {
  background-color: powderblue;
  position: absolute;
  padding: 5px;
  right: 30px;
  top: 100px;
}

h2 {
  color: #353b47;
  border-right: 3mm ridge rgb(115, 192, 218);
  font-size: 35px;
  display: flex;
  justify-content: flex-end;
  min-width: 250px;
  padding-right: 20px;
  text-align: right;
  width: 0;
}

/* About section */
.page-section-about,
.page-section-work,
.page-section-contact {
  align-self: center;
  color: black;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

/* portfolio container */
.page-section-work {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "h2 a a"
    "h2 a a"
    "h2 b c"
    "h2 d e";
  grid-gap: 10px;
}

.page-section-work h2 {
    display: flex;
    align-items: center;
    grid-area: h2;
}

#work-1 {
  grid-area: a;
  background-image: url(../images/02-portfolio-1.jpg);
}

#work-2 {
  grid-area: b;
  background-image: url(../images/02-portfolio-2.jpg);
}

#work-3 {
  grid-area: c;
  background-image: url(../images/02-portfolio-3.jpg);
}

#work-4 {
  grid-area: d;
  background-image: url(../images/02-portfolio-4.jpg);
}

#work-5 {
  grid-area: e;
  background-image: url(../images/02-run-buddy.jpg);
}


@media screen and (max-width: 480px) {

  nav {
    display: none;
  }

  .page-section-work {
    display: flex;
    flex-direction: column;
  }
}

/* contact */
.page-section.contact {
  display: flex;
}

.page-section.contact a {
  flex: 1;
  text-align: center;
}

@media (max-width: 480px) {
  .page-section.contact {
    flex-direction: column;
  }
  
  .page-section.contact a {
    flex: 1;
    text-align: left;
  }
}